#carousel {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
}

ul {
	width: 2000px;
	height: 400px;
	padding: 0;
	list-style: none;
}

ul li {
	width: 400px;
	height: 400px;
	float: left;
}
